pipeline_phases_1_5.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "node1",
      "name": "Schedule — Every Monday 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        -144
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram — Listen for /start",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        80
      ],
      "webhookId": "5a94557a-9a67-40b6-aa38-4a9d7b44970d",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-chat-id",
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-start-cmd",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-chat-id",
      "name": "Validate — Check Chat ID & /start",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        80
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "merge-triggers",
      "name": "Merge — Combine Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nfunction randomHex(len) {\n  let s = '';\n  while (s.length < len) {\n    const r = Math.random().toString(16).substring(2);\n    s += r;\n  }\n  return s.substring(0, len);\n}\n\nconst job_id = randomHex(16);\n\nstaticData.job_id = job_id;\nstaticData.pipeline_started_at = new Date().toISOString();\nstaticData.phase = 'phase_1_complete';\n\nreturn [{\n  json: {\n    job_id,\n    pipeline_started_at: staticData.pipeline_started_at,\n    trigger_source: $input.first().json?.message?.text \n      ? 'telegram_manual' \n      : 'schedule'\n  }\n}];"
      },
      "id": "node2",
      "name": "Generate job_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -128
      ]
    },
    {
      "parameters": {
        "content": "## PHASE 1 — TRIGGER\nTwo entry points:\n- **Entry A**: Schedule every Monday 08:00 AM (Africa/Nairobi)\n- **Entry B**: Telegram /start command (with chat ID security check)\n\nBoth merge → job_id generated",
        "height": 220,
        "width": 1000,
        "color": 4
      },
      "id": "sticky-phase1",
      "name": "PHASE 1 — TRIGGER",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        -336
      ]
    },
    {
      "parameters": {
        "content": "## PHASE 2 — RESEARCH\nThree parallel HTTP requests (all branch from Generate job_id):\n- **Node A**: YouTube Trending (last 7 days, top 10 by viewCount)\n- **Node B**: Reddit Trending (r/UnresolvedMysteries+morbidquestions+interestingasfuck, top week)\n- **Node C**: Google Trends via SerpApi\n\nAll 3 feed into error handler → Claude LLM Aggregator → 5 video ideas JSON\n\nError handling: individual source failures tolerated. All-fail → Telegram alert + stop. LLM parse fail → retry once with strict prompt → on 2nd fail send raw to Telegram.",
        "height": 260,
        "width": 1500,
        "color": 5
      },
      "id": "sticky-phase2",
      "name": "PHASE 2 — RESEARCH",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        528
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "q",
              "value": "mystery|unsolved|true crime|dark history"
            },
            {
              "name": "order",
              "value": "viewCount"
            },
            {
              "name": "publishedAfter",
              "value": "={{ new Date(Date.now() - 7*24*60*60*1000).toISOString() }}"
            },
            {
              "name": "maxResults",
              "value": "10"
            },
            {
              "name": "key",
              "value": "={{ $env.YOUTUBE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "youtube-trending",
      "name": "Research — YouTube Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        832
      ]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/UnresolvedMysteries+morbidquestions+interestingasfuck/top.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "t",
              "value": "week"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-youtube-bot/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "reddit-trending",
      "name": "Research — Reddit Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        1024
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_trends"
            },
            {
              "name": "q",
              "value": "mystery,unsolved mystery,true crime"
            },
            {
              "name": "date",
              "value": "now 7-d"
            },
            {
              "name": "api_key",
              "value": "={{ $env.SERPAPI_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "serpapi-trends",
      "name": "Research — Google Trends via SerpApi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet youtubeData = null, redditData = null, serpData = null;\nfor (const item of items) {\n  const d = item.json;\n  if (d.items && d.items[0]?.snippet?.channelId !== undefined) {\n    youtubeData = d.items.map(v => ({ title: v.snippet.title, channel: v.snippet.channelTitle }));\n  } else if (d.data?.children) {\n    redditData = d.data.children.map(p => ({ title: p.data.title, upvotes: p.data.ups }));\n  } else if (d.interest_over_time || d.related_queries) {\n    serpData = { interest: d.interest_over_time?.timeline_data?.slice(-3) || [], related: d.related_queries?.rising?.slice(0, 5) || [] };\n  }\n}\nconst allFailed = !youtubeData && !redditData && !serpData;\nreturn [{ json: { job_id: $('Generate job_id').first().json.job_id, youtube_data: youtubeData || [], reddit_data: redditData || [], serp_data: serpData || {}, all_failed: allFailed, sources_available: [youtubeData ? 'youtube' : null, redditData ? 'reddit' : null, serpData ? 'serp' : null].filter(Boolean) } }];"
      },
      "id": "handle-research-errors",
      "name": "Handle Research — Merge & Check Failures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        1024
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "all-failed-check",
              "leftValue": "={{ $json.all_failed }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-all-failed",
      "name": "IF — All Research Sources Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        1024
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ All research APIs failed. Check credentials.\n\nJob ID: {{ $('Generate job_id').first().json.job_id }}\n\nPhase 2 aborted. Send /start to retry.",
        "additionalFields": {}
      },
      "id": "telegram-alert-all-failed",
      "name": "Telegram — Alert All Research Failed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        832
      ],
      "webhookId": "163c25b0-e365-4f13-b03c-47c55b13f4ad",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-opus-4-5\",\"max_tokens\":1000,\"system\":\"You are a YouTube content strategist specializing in mystery and investigative storytelling. Return ONLY valid JSON, no markdown, no explanation.\",\"messages\":[{\"role\":\"user\",\"content\":\"Based on these trending data sources:\\n\\nYouTube Trends: {{ JSON.stringify($json.youtube_data) }}\\n\\nReddit Trends: {{ JSON.stringify($json.reddit_data) }}\\n\\nGoogle Trends: {{ JSON.stringify($json.serp_data) }}\\n\\nGenerate exactly 5 unique video ideas. Return this exact JSON structure:\\n{\\\"ideas\\\":[{\\\"id\\\":1,\\\"title\\\":\\\"curiosity-gap style title under 60 chars\\\",\\\"topic_summary\\\":\\\"one sentence explaining the mystery\\\",\\\"trending_reason\\\":\\\"why this is trending right now\\\",\\\"search_volume\\\":\\\"high|medium|low\\\",\\\"unique_angle\\\":\\\"what makes our take different\\\"}]}\"}]}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "llm-aggregator",
      "name": "LLM Aggregator — Claude Generates 5 Ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst job_id = $('Generate job_id').first().json.job_id;\nif (response.statusCode >= 400 || response.error) {\n  return [{ json: { error: true, message: 'Claude API error: ' + (response.statusCode || response.error), raw: null, retry_needed: true, job_id } }];\n}\nlet ideas;\ntry {\n  const raw = response.content[0].text;\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  ideas = parsed.ideas;\n  if (!ideas || !Array.isArray(ideas) || ideas.length !== 5) {\n    return [{ json: { error: true, message: 'Expected 5 ideas, got: ' + (ideas?.length || 0), raw, retry_needed: true, job_id } }];\n  }\n  return [{ json: { error: false, ideas, job_id, retry_needed: false } }];\n} catch(e) {\n  const raw = response.content?.[0]?.text || 'No content';\n  return [{ json: { error: true, message: 'JSON parse failed: ' + e.message, raw, retry_needed: true, job_id } }];\n}"
      },
      "id": "parse-llm-ideas",
      "name": "Parse — Validate LLM Ideas JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1232
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-ideas-error",
      "name": "IF — LLM Ideas Parse Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1504,
        1232
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-opus-4-5\",\"max_tokens\":1000,\"system\":\"You are a YouTube content strategist. IMPORTANT: Return ONLY the raw JSON object. No other text whatsoever. No markdown. No code fences. Pure JSON only.\",\"messages\":[{\"role\":\"user\",\"content\":\"Generate exactly 5 mystery YouTube video ideas based on current trends. You must return ONLY this raw JSON object with no other text:\\n{\\\"ideas\\\":[{\\\"id\\\":1,\\\"title\\\":\\\"title under 60 chars\\\",\\\"topic_summary\\\":\\\"one sentence\\\",\\\"trending_reason\\\":\\\"why trending\\\",\\\"search_volume\\\":\\\"high|medium|low\\\",\\\"unique_angle\\\":\\\"our angle\\\"}]}\"}]}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "llm-retry",
      "name": "LLM Aggregator — Retry with Strict Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst job_id = $('Generate job_id').first().json.job_id;\nlet ideas;\ntry {\n  const raw = response.content[0].text;\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  ideas = parsed.ideas;\n  if (!ideas || !Array.isArray(ideas) || ideas.length < 3) {\n    return [{ json: { error: true, final_failure: true, raw_output: raw, job_id } }];\n  }\n  return [{ json: { error: false, final_failure: false, ideas, job_id } }];\n} catch(e) {\n  const raw = response.content?.[0]?.text || 'No content returned';\n  return [{ json: { error: true, final_failure: true, raw_output: raw, job_id } }];\n}"
      },
      "id": "parse-retry-ideas",
      "name": "Parse — Retry LLM Ideas JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1024
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "final-failure-check",
              "leftValue": "={{ $json.final_failure }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-retry-failed",
      "name": "IF — Retry Also Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2256,
        1024
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ Research idea generation failed after 2 attempts.\n\nJob ID: {{ $json.job_id }}\n\nRaw LLM output (first 3000 chars):\n{{ $json.raw_output?.substring(0, 3000) }}\n\nReply /manualtopic [your topic] to continue manually.",
        "additionalFields": {}
      },
      "id": "telegram-send-raw",
      "name": "Telegram — Send Raw LLM Output to Operator",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2512,
        832
      ],
      "webhookId": "49952bd0-69ba-411b-8114-ac91b81c8831",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\nconst ideas = $json.ideas;\nconst job_id = $json.job_id;\n$workflow.staticData.ideas = ideas;\n$workflow.staticData.phase = 'phase_2_complete';\nreturn [{ json: { job_id, ideas } }];"
      },
      "id": "store-ideas",
      "name": "Store Ideas in Static Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        1232
      ]
    },
    {
      "parameters": {
        "content": "## PHASE 3 — HUMAN TOPIC SELECTION\n**First human touchpoint.** Sends 5 Claude-generated ideas to Telegram.\n- Operator replies 1-5 to pick, types own topic, or /skip\n- Wait node (webhook resume) holds execution\n- 24h: reminder sent → Wait another 24h\n- 48h total: auto-cancel + notify\n- /skip or cancel action: stop workflow cleanly\n- Chosen topic + summary → stored in staticData → Phase 4",
        "height": 260,
        "width": 1100,
        "color": 6
      },
      "id": "sticky-phase3",
      "name": "PHASE 3 — HUMAN TOPIC SELECTION",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2800,
        -336
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=🎬 *This week's video ideas:*\n\n1️⃣ *{{ $json.ideas[0].title }}*\n   📈 {{ $json.ideas[0].search_volume }} search volume\n   💡 {{ $json.ideas[0].unique_angle }}\n\n2️⃣ *{{ $json.ideas[1].title }}*\n   📈 {{ $json.ideas[1].search_volume }} search volume\n   💡 {{ $json.ideas[1].unique_angle }}\n\n3️⃣ *{{ $json.ideas[2].title }}*\n   📈 {{ $json.ideas[2].search_volume }} search volume\n   💡 {{ $json.ideas[2].unique_angle }}\n\n4️⃣ *{{ $json.ideas[3].title }}*\n   📈 {{ $json.ideas[3].search_volume }} search volume\n   💡 {{ $json.ideas[3].unique_angle }}\n\n5️⃣ *{{ $json.ideas[4].title }}*\n   📈 {{ $json.ideas[4].search_volume }} search volume\n   💡 {{ $json.ideas[4].unique_angle }}\n\n_Reply with 1-5 to choose, type your own topic, or send /skip to cancel._\n\n🔗 Resume link: {{ $execution.resumeUrl }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "p3-send-ideas",
      "name": "Telegram — Send 5 Ideas for Selection",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2800,
        1232
      ],
      "webhookId": "66f56ddf-29af-44a5-b1d1-d2a07af1ff89",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 24,
        "options": {
          "webhookSuffix": "topic-reply"
        }
      },
      "id": "p3-wait-24h",
      "name": "Wait — 24h for Topic Reply",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3056,
        1232
      ],
      "webhookId": "2d2ee5bb-8274-426d-bcc1-ca4b47b26dca"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "timeout-check",
              "leftValue": "={{ $json.body?.message?.text }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p3-check-timeout-24h",
      "name": "IF — Timed Out at 24h?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3312,
        1232
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=⏰ Pipeline is waiting for your topic choice.\n\nReply 1-5, type a custom topic, or /skip to cancel.\n\n🔗 Resume link: {{ $execution.resumeUrl }}",
        "additionalFields": {}
      },
      "id": "p3-reminder-24h",
      "name": "Telegram — Send 24h Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3552,
        1024
      ],
      "webhookId": "9bd2d0ea-cf5d-461b-be21-77c7a347b32f",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 24,
        "options": {
          "webhookSuffix": "topic-reply-final"
        }
      },
      "id": "p3-wait-24h-more",
      "name": "Wait — 24h More (Final Window)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3808,
        1024
      ],
      "webhookId": "65eff075-5b0f-4db7-9282-cfe324f46228"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "timeout-48h-check",
              "leftValue": "={{ $json.body?.message?.text }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p3-check-timeout-48h",
      "name": "IF — Timed Out at 48h?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4064,
        1024
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ Pipeline auto-cancelled due to no response.\n\nSend /start to begin again.",
        "additionalFields": {}
      },
      "id": "p3-cancel-timeout",
      "name": "Telegram — Auto-Cancel: No Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4304,
        832
      ],
      "webhookId": "21e518cc-6068-4cd0-9708-33db66eefa63",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Reply comes in via webhook resume — body is in $json.body\n$workflow.staticData = $workflow.staticData || {};\nconst reply = ($json.body?.message?.text || '').trim();\nconst job_id = $workflow.staticData.job_id;\nconst ideas = $workflow.staticData.ideas || [];\n\nif (!reply || reply === '/skip') {\n  return [{ json: { action: 'cancel', job_id } }];\n}\n\nconst num = parseInt(reply);\nif (num >= 1 && num <= 5 && ideas[num - 1]) {\n  const chosen = ideas[num - 1];\n  $workflow.staticData.chosen_topic = chosen.title;\n  $workflow.staticData.chosen_topic_summary = chosen.topic_summary;\n  $workflow.staticData.phase = 'phase_3_complete';\n  return [{ json: {\n    action: 'proceed',\n    topic: chosen.title,\n    topic_summary: chosen.topic_summary,\n    job_id\n  }}];\n}\n\n// Custom topic typed by operator\n$workflow.staticData.chosen_topic = reply;\n$workflow.staticData.chosen_topic_summary = '';\n$workflow.staticData.phase = 'phase_3_complete';\nreturn [{ json: {\n  action: 'proceed',\n  topic: reply,\n  topic_summary: '',\n  job_id\n}}];"
      },
      "id": "p3-parse-reply",
      "name": "Code — Parse Topic Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        1232
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cancel-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "cancel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p3-if-cancel",
      "name": "IF — Action is Cancel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4560,
        1232
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=Pipeline cancelled. ✅\n\nSend /start whenever you're ready for a new video.",
        "additionalFields": {}
      },
      "id": "p3-cancel-notify",
      "name": "Telegram — Notify Pipeline Cancelled",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4800,
        1024
      ],
      "webhookId": "f465797e-560c-4b9b-8a7e-dab46cbfcebd",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Persist chosen topic for Phase 4\n$workflow.staticData = $workflow.staticData || {};\nconst { topic, topic_summary, job_id } = $json;\n$workflow.staticData.chosen_topic = topic;\n$workflow.staticData.chosen_topic_summary = topic_summary;\n$workflow.staticData.phase = 'phase_3_complete';\n\nreturn [{ json: { job_id, topic, topic_summary } }];"
      },
      "id": "p3-topic-ready",
      "name": "Code — Store Chosen Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        1424
      ]
    },
    {
      "parameters": {
        "content": "## PHASE 4 — SCRIPT GENERATION\nClaude writes a full structured JSON script (≥20 scenes, 4.5–5.5 min).\n\n**Happy path:** Store Chosen Topic → LLM Writer → Validate → Store Script → Phase 5\n\n**Retry path:** Validate fails → Retry with strict prompt → Validate again\n\n**Fallback path:** Both LLM attempts fail → Telegram raw output + Wait for operator reply\n  - /retry → back to LLM Writer\n  - /skip  → cancel pipeline\n\n**Outputs stored in staticData:** script, total_duration, phase='phase_4_complete'",
        "height": 280,
        "width": 2200,
        "color": 7
      },
      "id": "sticky-phase4",
      "name": "PHASE 4 — SCRIPT GENERATION",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4912,
        1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-opus-4-5\",\"max_tokens\":4000,\"system\":\"You are a professional scriptwriter for a mystery YouTube channel. You write engaging, factual scripts in a suspenseful tone. You always return ONLY valid raw JSON with no markdown formatting, no code fences, no explanation before or after.\",\"messages\":[{\"role\":\"user\",\"content\":\"Write a complete script for a 5-minute YouTube mystery video about: ={{ $workflow.staticData.chosen_topic }}\\n\\nReturn this exact JSON structure with no deviations:\\n{\\n  \\\"title\\\": \\\"curiosity-gap YouTube title, max 60 chars\\\",\\n  \\\"description\\\": \\\"SEO-rich description, 150 words, includes main keywords naturally\\\",\\n  \\\"tags\\\": [\\\"tag1\\\",\\\"tag2\\\",\\\"tag3\\\",\\\"tag4\\\",\\\"tag5\\\",\\\"tag6\\\",\\\"tag7\\\",\\\"tag8\\\",\\\"tag9\\\",\\\"tag10\\\"],\\n  \\\"thumbnail_text\\\": \\\"max 4 words, punchy, high contrast text for thumbnail\\\",\\n  \\\"chapters\\\": \\\"0:00 Introduction\\n0:30 The Mystery Begins\\n2:00 Key Evidence\\n3:30 The Theories\\n4:30 What We Know\\\",\\n  \\\"scenes\\\": [\\n    {\\n      \\\"scene_id\\\": 1,\\n      \\\"narration\\\": \\\"full narration text for this scene\\\",\\n      \\\"duration_seconds\\\": 8,\\n      \\\"visual_keyword\\\": \\\"specific descriptive keyword for stock footage search\\\",\\n      \\\"mood\\\": \\\"tense|eerie|dramatic|calm|shocking\\\",\\n      \\\"is_hook\\\": true,\\n      \\\"clip_marker\\\": \\\"HOOK\\\"\\n    }\\n  ],\\n  \\\"full_narration\\\": \\\"complete script as one continuous string\\\",\\n  \\\"short_clip_scenes\\\": [1, 8, 15]\\n}\\n\\nRules:\\n- Minimum 20 scenes\\n- Total duration of all scenes must sum to 270-330 seconds (4.5 to 5.5 minutes)\\n- scene_id 1 must be is_hook: true with clip_marker: HOOK\\n- Mark the most dramatic scene as clip_marker: CLIMAX\\n- Mark the final scene as clip_marker: ENDING\\n- short_clip_scenes must reference scene_ids of HOOK, CLIMAX, and ENDING\\n- Every visual_keyword must be specific and searchable (e.g. 'foggy abandoned ship deck' not just 'ship')\\n- Start with the most shocking reveal as the hook\"}]}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "p4-script-writer",
      "name": "LLM — Write Script (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5104,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\n\nconst response = $input.first().json;\nconst job_id = $workflow.staticData.job_id;\n\n// Catch upstream HTTP errors\nif (response.statusCode >= 400 || response.error) {\n  return [{ json: {\n    error: true,\n    final_failure: false,\n    message: 'Claude API error: ' + (response.statusCode || response.error),\n    raw: null,\n    job_id\n  }}];\n}\n\nlet script;\ntry {\n  const raw = response.content[0].text;\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  script = JSON.parse(cleaned);\n} catch(e) {\n  const raw = response.content?.[0]?.text || 'No content';\n  return [{ json: {\n    error: true,\n    final_failure: false,\n    message: 'JSON parse failed: ' + e.message,\n    raw,\n    job_id\n  }}];\n}\n\n// Structural checks\nif (!script.scenes || !Array.isArray(script.scenes) || script.scenes.length < 15) {\n  return [{ json: {\n    error: true,\n    final_failure: false,\n    message: 'Too few scenes: ' + (script.scenes?.length || 0),\n    raw: JSON.stringify(script).substring(0, 500),\n    job_id\n  }}];\n}\n\nconst totalDuration = script.scenes.reduce((sum, s) => sum + (s.duration_seconds || 0), 0);\nif (totalDuration < 240 || totalDuration > 420) {\n  return [{ json: {\n    error: true,\n    final_failure: false,\n    message: 'Duration out of range: ' + totalDuration + 's (expected 240-420)',\n    raw: JSON.stringify(script).substring(0, 500),\n    job_id\n  }}];\n}\n\nif (!script.full_narration || script.full_narration.length < 500) {\n  return [{ json: {\n    error: true,\n    final_failure: false,\n    message: 'Narration too short: ' + (script.full_narration?.length || 0) + ' chars',\n    raw: JSON.stringify(script).substring(0, 500),\n    job_id\n  }}];\n}\n\n// Marker checks\nconst hasHook    = script.scenes.some(s => s.clip_marker === 'HOOK');\nconst hasClimax  = script.scenes.some(s => s.clip_marker === 'CLIMAX');\nconst hasEnding  = script.scenes.some(s => s.clip_marker === 'ENDING');\nif (!hasHook || !hasClimax || !hasEnding) {\n  return [{ json: {\n    error: true,\n    final_failure: false,\n    message: 'Missing scene markers. HOOK:' + hasHook + ' CLIMAX:' + hasClimax + ' ENDING:' + hasEnding,\n    raw: JSON.stringify(script).substring(0, 500),\n    job_id\n  }}];\n}\n\nreturn [{ json: { error: false, final_failure: false, script, totalDuration, job_id } }];\n"
      },
      "id": "p4-validate-script",
      "name": "Code — Validate Script JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5360,
        1424
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p4-check-error",
      "name": "IF — Script Validation Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5600,
        1424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-opus-4-5\",\"max_tokens\":4000,\"system\":\"You are a professional scriptwriter for a mystery YouTube channel. IMPORTANT: Return ONLY the raw JSON object. No other text whatsoever. No markdown. No code fences. Pure JSON only.\",\"messages\":[{\"role\":\"user\",\"content\":\"Write a complete script for a 5-minute YouTube mystery video about: ={{ $workflow.staticData.chosen_topic }}\\n\\nIMPORTANT: Return ONLY the raw JSON object. No other text whatsoever. No markdown. No code fences. Pure JSON only.\\n\\nReturn this exact JSON structure with no deviations:\\n{\\n  \\\"title\\\": \\\"curiosity-gap YouTube title, max 60 chars\\\",\\n  \\\"description\\\": \\\"SEO-rich description, 150 words, includes main keywords naturally\\\",\\n  \\\"tags\\\": [\\\"tag1\\\",\\\"tag2\\\",\\\"tag3\\\",\\\"tag4\\\",\\\"tag5\\\",\\\"tag6\\\",\\\"tag7\\\",\\\"tag8\\\",\\\"tag9\\\",\\\"tag10\\\"],\\n  \\\"thumbnail_text\\\": \\\"max 4 words, punchy, high contrast text for thumbnail\\\",\\n  \\\"chapters\\\": \\\"0:00 Introduction\\n0:30 The Mystery Begins\\n2:00 Key Evidence\\n3:30 The Theories\\n4:30 What We Know\\\",\\n  \\\"scenes\\\": [\\n    {\\n      \\\"scene_id\\\": 1,\\n      \\\"narration\\\": \\\"full narration text for this scene\\\",\\n      \\\"duration_seconds\\\": 8,\\n      \\\"visual_keyword\\\": \\\"specific descriptive keyword for stock footage search\\\",\\n      \\\"mood\\\": \\\"tense|eerie|dramatic|calm|shocking\\\",\\n      \\\"is_hook\\\": true,\\n      \\\"clip_marker\\\": \\\"HOOK\\\"\\n    }\\n  ],\\n  \\\"full_narration\\\": \\\"complete script as one continuous string\\\",\\n  \\\"short_clip_scenes\\\": [1, 8, 15]\\n}\\n\\nRules:\\n- Minimum 20 scenes\\n- Total duration of all scenes must sum to 270-330 seconds (4.5 to 5.5 minutes)\\n- scene_id 1 must be is_hook: true with clip_marker: HOOK\\n- Mark the most dramatic scene as clip_marker: CLIMAX\\n- Mark the final scene as clip_marker: ENDING\\n- short_clip_scenes must reference scene_ids of HOOK, CLIMAX, and ENDING\\n- Every visual_keyword must be specific and searchable (e.g. 'foggy abandoned ship deck' not just 'ship')\\n- Start with the most shocking reveal as the hook\"}]}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "p4-script-retry",
      "name": "LLM — Write Script Retry (Strict Prompt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5856,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\n\nconst response = $input.first().json;\nconst job_id = $workflow.staticData.job_id;\n\nif (response.statusCode >= 400 || response.error) {\n  return [{ json: {\n    error: true,\n    final_failure: true,\n    message: 'Claude API error on retry: ' + (response.statusCode || response.error),\n    raw_output: 'API error — no content returned',\n    job_id\n  }}];\n}\n\nlet script;\ntry {\n  const raw = response.content[0].text;\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  script = JSON.parse(cleaned);\n} catch(e) {\n  const raw = response.content?.[0]?.text || 'No content';\n  return [{ json: {\n    error: true,\n    final_failure: true,\n    message: 'Retry JSON parse failed: ' + e.message,\n    raw_output: raw,\n    job_id\n  }}];\n}\n\nconst hasScenes = script.scenes && Array.isArray(script.scenes) && script.scenes.length >= 15;\nconst totalDuration = script.scenes?.reduce((sum, s) => sum + (s.duration_seconds || 0), 0) || 0;\nconst durationOk = totalDuration >= 240 && totalDuration <= 420;\nconst narrationOk = script.full_narration && script.full_narration.length >= 500;\n\nif (!hasScenes || !durationOk || !narrationOk) {\n  const raw = JSON.stringify(script).substring(0, 3000);\n  return [{ json: {\n    error: true,\n    final_failure: true,\n    message: 'Retry validation failed. scenes:' + (script.scenes?.length || 0) + ' dur:' + totalDuration + 's narr:' + (script.full_narration?.length || 0),\n    raw_output: raw,\n    job_id\n  }}];\n}\n\nreturn [{ json: { error: false, final_failure: false, script, totalDuration, job_id } }];\n"
      },
      "id": "p4-validate-retry",
      "name": "Code — Validate Retry Script JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6112,
        1232
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "final-failure-check",
              "leftValue": "={{ $json.final_failure }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p4-check-retry",
      "name": "IF — Retry Script Also Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6352,
        1232
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ Script generation failed after 2 attempts.\n\nTopic: {{ $workflow.staticData.chosen_topic }}\nJob ID: {{ $json.job_id }}\nReason: {{ $json.message }}\n\nRaw output (first 2000 chars):\n{{ $json.raw_output?.substring(0, 2000) }}\n\nReply:\n/retry — generate fresh script\n/skip — cancel this pipeline run\n\n🔗 Resume link: {{ $execution.resumeUrl }}",
        "additionalFields": {}
      },
      "id": "p4-send-raw-script",
      "name": "Telegram — Send Raw Script Output to Operator",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6608,
        1024
      ],
      "webhookId": "ece3fa4a-5f05-43a2-92d0-995e7a4c0a32",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {
          "webhookSuffix": "script-decision"
        }
      },
      "id": "p4-wait-operator",
      "name": "Wait — Operator Script Decision",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6608,
        1232
      ],
      "webhookId": "5dd7f58c-0c15-4fd1-91e7-7a9494458bad"
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\n\n// Operator replied to the failed-script Telegram message\n// They can: /retry (generate fresh), /skip (cancel this pipeline run)\nconst reply = ($json.body?.message?.text || '').trim().toLowerCase();\nconst job_id = $workflow.staticData.job_id;\n\nif (!reply || reply === '/skip') {\n  return [{ json: { action: 'cancel', job_id } }];\n}\nif (reply === '/retry') {\n  return [{ json: { action: 'retry', job_id } }];\n}\n// Any unrecognised input → cancel safely\nreturn [{ json: { action: 'cancel', job_id } }];\n"
      },
      "id": "p4-parse-op-reply",
      "name": "Code — Parse Operator Script Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6864,
        1232
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "cancel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p4-if-skip",
      "name": "IF — Operator Cancelled Script?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7104,
        1232
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=Pipeline cancelled at script generation.\n\nSend /start whenever you're ready for a new video.",
        "additionalFields": {}
      },
      "id": "p4-cancel-notify",
      "name": "Telegram — Notify Script Generation Cancelled",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7360,
        1024
      ],
      "webhookId": "48f9389a-729b-4459-a04b-76dea0fbc782",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\n\nconst { script, totalDuration, job_id } = $json;\n$workflow.staticData.script = script;\n$workflow.staticData.total_duration = totalDuration;\n$workflow.staticData.phase = 'phase_4_complete';\nreturn [{ json: { job_id, script, totalDuration } }];\n"
      },
      "id": "p4-store-script",
      "name": "Code — Store Script in Static Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6624,
        1440
      ]
    },
    {
      "parameters": {
        "content": "## PHASE 5 — VOICEOVER GENERATION\nElevenLabs TTS → R2 upload → duration check → Phase 6\n\n**Note:** ElevenLabs and R2 Upload nodes use placeholder config.\nWire binary response handling in the UI after import.\n\nRate limit (429) → Wait 60s → retry\nAuth fail (401/403) → Telegram alert → stop\nR2 fail → retry 3× (5s/15s/45s backoff)\nToo short (<180s) → alert + stop\nToo long (>420s) → alert + wait → /approve or /regenerate",
        "height": 300,
        "width": 3800,
        "color": 3
      },
      "id": "sticky-phase5",
      "name": "PHASE 5 — VOICEOVER GENERATION",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7504,
        704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $env.ELEVENLABS_VOICE_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $env.ELEVENLABS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\":\"{{ $workflow.staticData.script.full_narration }}\",\"model_id\":\"eleven_multilingual_v2\",\"voice_settings\":{\"stability\":0.75,\"similarity_boost\":0.85,\"style\":0.40,\"use_speaker_boost\":true}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 120000
        }
      },
      "id": "p5-tts",
      "name": "ElevenLabs — Generate Voiceover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7776,
        1440
      ]
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\n\nconst res = $input.first().json;\nconst statusCode = res.$response?.statusCode || res.statusCode || 200;\n\nif (statusCode === 429) {\n  return [{ json: { tts_error: true, error_type: 'rate_limit', status: statusCode, job_id: $workflow.staticData.job_id } }];\n}\nif (statusCode === 401 || statusCode === 403) {\n  return [{ json: { tts_error: true, error_type: 'auth_fail', status: statusCode, job_id: $workflow.staticData.job_id } }];\n}\nif (statusCode >= 400) {\n  return [{ json: { tts_error: true, error_type: 'api_error', status: statusCode, job_id: $workflow.staticData.job_id } }];\n}\nreturn [{ json: { tts_error: false, error_type: null, job_id: $workflow.staticData.job_id } }];\n"
      },
      "id": "p5-check-tts-error",
      "name": "Code — Check TTS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8000,
        1440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tts-error-check",
              "leftValue": "={{ $json.tts_error }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p5-if-tts-error",
      "name": "IF — TTS Request Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8208,
        1440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "rate-limit-check",
              "leftValue": "={{ $json.error_type }}",
              "rightValue": "rate_limit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p5-if-rate-limit",
      "name": "IF — Rate Limited (429)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8464,
        1088
      ]
    },
    {
      "parameters": {},
      "id": "p5-wait-rate-limit",
      "name": "Wait — 60s Rate Limit Backoff",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8704,
        1072
      ],
      "webhookId": "59d52fce-bf81-420a-921c-6c335e09edb6"
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ ElevenLabs authentication failed ({{ $json.status }}).\n\nJob ID: {{ $json.job_id }}\n\nCheck ELEVENLABS_API_KEY. Send /start to retry.",
        "additionalFields": {}
      },
      "id": "p5-tts-auth-fail",
      "name": "Telegram — Alert ElevenLabs Auth Failed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        9056,
        1104
      ],
      "webhookId": "907b3b39-4644-4f10-b6a1-f50385c7a460",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $env.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com/{{ $env.R2_BUCKET_NAME }}/audio/{{ $workflow.staticData.job_id }}.mp3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 120000
        }
      },
      "id": "p5-upload-r2",
      "name": "R2 — Upload Audio MP3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8688,
        1456
      ]
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\n\nconst res = $input.first().json;\nconst statusCode = res.$response?.statusCode || res.statusCode || 200;\n\nif (statusCode >= 200 && statusCode < 300) {\n  const jobId = $workflow.staticData.job_id;\n  const publicUrl = $env.R2_PUBLIC_URL + '/audio/' + jobId + '.mp3';\n  $workflow.staticData.audio_url = publicUrl;\n  return [{ json: { upload_error: false, audio_url: publicUrl, job_id: jobId } }];\n}\nreturn [{ json: { upload_error: true, status: statusCode, job_id: $workflow.staticData.job_id } }];\n"
      },
      "id": "p5-check-upload",
      "name": "Code — Check R2 Upload Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8896,
        1456
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "upload-error-check",
              "leftValue": "={{ $json.upload_error }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p5-if-upload-error",
      "name": "IF — R2 Upload Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9104,
        1456
      ]
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\n\nconst attempt = ($workflow.staticData.r2_upload_attempt || 0) + 1;\n$workflow.staticData.r2_upload_attempt = attempt;\nconst job_id = $workflow.staticData.job_id;\nconst backoffSeconds = [5, 15, 45];\n\nif (attempt > 3) {\n  return [{ json: { give_up: true, attempt, job_id } }];\n}\nreturn [{ json: { give_up: false, attempt, waitSeconds: backoffSeconds[attempt - 1] || 45, job_id } }];\n"
      },
      "id": "p5-upload-retry-counter",
      "name": "Code — R2 Upload Retry Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9312,
        1088
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "give-up-check",
              "leftValue": "={{ $json.give_up }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p5-if-give-up-upload",
      "name": "IF — R2 Upload Max Retries Exceeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9568,
        1088
      ]
    },
    {
      "parameters": {},
      "id": "p5-wait-upload-backoff",
      "name": "Wait — Upload Retry Backoff",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9904,
        1104
      ],
      "webhookId": "6dc8e64a-0fbf-4c26-9cfb-980af4be32ac"
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ R2 audio upload failed after 3 attempts.\n\nJob ID: {{ $json.job_id }}\n\nCheck R2 credentials and bucket permissions. Send /start to retry.",
        "additionalFields": {}
      },
      "id": "p5-alert-upload-fail",
      "name": "Telegram — Alert R2 Upload Failed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        9776,
        944
      ],
      "webhookId": "113d0396-0ab1-416b-94ae-3894fcd7f41e",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FFMPEG_SERVER_URL }}/get-duration",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"audio_url\":\"{{ $json.audio_url }}\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "p5-get-duration",
      "name": "FFmpeg — Get Audio Duration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9360,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\n\nconst res = $input.first().json;\nconst totalSeconds = res.total_seconds;\nconst job_id = $workflow.staticData.job_id;\n\nif (!totalSeconds || typeof totalSeconds !== 'number') {\n  return [{ json: { duration_status: 'error', totalSeconds: 0, job_id } }];\n}\n$workflow.staticData.total_seconds = totalSeconds;\n\nif (totalSeconds < 180) {\n  return [{ json: { duration_status: 'too_short', totalSeconds, job_id } }];\n}\nif (totalSeconds > 420) {\n  return [{ json: { duration_status: 'too_long', totalSeconds, job_id } }];\n}\nreturn [{ json: { duration_status: 'ok', totalSeconds, job_id } }];\n"
      },
      "id": "p5-check-duration",
      "name": "Code — Classify Audio Duration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9568,
        1568
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "too-short-check",
              "leftValue": "={{ $json.duration_status }}",
              "rightValue": "too_short",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p5-if-too-short",
      "name": "IF — Audio Too Short?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9792,
        1568
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ Generated audio is too short ({{ $json.totalSeconds }}s — minimum 180s).\n\nJob ID: {{ $json.job_id }}\nTopic: {{ $workflow.staticData.chosen_topic }}\n\nSend /start to begin a new pipeline run.",
        "additionalFields": {}
      },
      "id": "p5-alert-too-short",
      "name": "Telegram — Alert Audio Too Short",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        10048,
        1360
      ],
      "webhookId": "06b08d0d-0610-4a05-8f72-503b1e406fb4",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "too-long-check",
              "leftValue": "={{ $json.duration_status }}",
              "rightValue": "too_long",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p5-if-too-long",
      "name": "IF — Audio Too Long?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9952,
        1696
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.OPERATOR_TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ Audio is {{ $json.totalSeconds }}s (limit 420s).\n\nJob ID: {{ $json.job_id }}\nTopic: {{ $workflow.staticData.chosen_topic }}\n\nReply:\n/approve — continue anyway\n/regenerate — discard and regenerate script\n\n🔗 Resume: {{ $execution.resumeUrl }}",
        "additionalFields": {}
      },
      "id": "p5-alert-too-long",
      "name": "Telegram — Alert Audio Too Long",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        10256,
        1488
      ],
      "webhookId": "5427e8e9-c720-46e8-a300-9cfc99e559c6",
      "credentials": {
        "telegramApi": {
          "id": "n55yUa9Hkg5Nx7i7",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {
          "webhookSuffix": "long-audio-decision"
        }
      },
      "id": "p5-wait-long-audio",
      "name": "Wait — Operator Long Audio Decision",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10480,
        1408
      ],
      "webhookId": "6dd794e9-24c9-4e95-8bc9-0f52207768c2"
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\n\nconst reply = ($json.body?.message?.text || '').trim().toLowerCase();\nconst job_id = $workflow.staticData.job_id;\nif (reply === '/regenerate') {\n  return [{ json: { action: 'regenerate', job_id } }];\n}\nreturn [{ json: { action: 'approve', job_id } }];\n"
      },
      "id": "p5-parse-long-reply",
      "name": "Code — Parse Long Audio Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10704,
        1312
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approve-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p5-if-approve",
      "name": "IF — Operator Approved Long Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10928,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData = $workflow.staticData || {};\n\nconst audio_url = $json.audio_url || $workflow.staticData.audio_url;\nconst job_id = $workflow.staticData.job_id;\nconst totalSeconds = $workflow.staticData.total_seconds || 0;\n$workflow.staticData.audio_url = audio_url;\n$workflow.staticData.r2_upload_attempt = 0;\n$workflow.staticData.phase = 'phase_5_complete';\nreturn [{ json: { job_id, audio_url, total_seconds: totalSeconds } }];\n"
      },
      "id": "p5-store-audio",
      "name": "Code — Store Audio URL in Static Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10272,
        1712
      ]
    }
  ],
  "connections": {
    "Schedule — Every Monday 8AM": {
      "main": [
        [
          {
            "node": "Merge — Combine Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Listen for /start": {
      "main": [
        [
          {
            "node": "Validate — Check Chat ID & /start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate — Check Chat ID & /start": {
      "main": [
        [
          {
            "node": "Merge — Combine Triggers",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "Merge — Combine Triggers": {
      "main": [
        [
          {
            "node": "Generate job_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate job_id": {
      "main": [
        [
          {
            "node": "Research — YouTube Trending",
            "type": "main",
            "index": 0
          },
          {
            "node": "Research — Reddit Trending",
            "type": "main",
            "index": 0
          },
          {
            "node": "Research — Google Trends via SerpApi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research — YouTube Trending": {
      "main": [
        [
          {
            "node": "Handle Research — Merge & Check Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research — Reddit Trending": {
      "main": [
        [
          {
            "node": "Handle Research — Merge & Check Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research — Google Trends via SerpApi": {
      "main": [
        [
          {
            "node": "Handle Research — Merge & Check Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Research — Merge & Check Failures": {
      "main": [
        [
          {
            "node": "IF — All Research Sources Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — All Research Sources Failed?": {
      "main": [
        [
          {
            "node": "Telegram — Alert All Research Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Aggregator — Claude Generates 5 Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Aggregator — Claude Generates 5 Ideas": {
      "main": [
        [
          {
            "node": "Parse — Validate LLM Ideas JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse — Validate LLM Ideas JSON": {
      "main": [
        [
          {
            "node": "IF — LLM Ideas Parse Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — LLM Ideas Parse Failed?": {
      "main": [
        [
          {
            "node": "LLM Aggregator — Retry with Strict Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store Ideas in Static Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Aggregator — Retry with Strict Prompt": {
      "main": [
        [
          {
            "node": "Parse — Retry LLM Ideas JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse — Retry LLM Ideas JSON": {
      "main": [
        [
          {
            "node": "IF — Retry Also Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Retry Also Failed?": {
      "main": [
        [
          {
            "node": "Telegram — Send Raw LLM Output to Operator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store Ideas in Static Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Ideas in Static Data": {
      "main": [
        [
          {
            "node": "Telegram — Send 5 Ideas for Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Send 5 Ideas for Selection": {
      "main": [
        [
          {
            "node": "Wait — 24h for Topic Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — 24h for Topic Reply": {
      "main": [
        [
          {
            "node": "IF — Timed Out at 24h?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Timed Out at 24h?": {
      "main": [
        [
          {
            "node": "Telegram — Send 24h Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Parse Topic Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Send 24h Reminder": {
      "main": [
        [
          {
            "node": "Wait — 24h More (Final Window)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — 24h More (Final Window)": {
      "main": [
        [
          {
            "node": "IF — Timed Out at 48h?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Timed Out at 48h?": {
      "main": [
        [
          {
            "node": "Telegram — Auto-Cancel: No Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Parse Topic Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Parse Topic Reply": {
      "main": [
        [
          {
            "node": "IF — Action is Cancel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Action is Cancel?": {
      "main": [
        [
          {
            "node": "Telegram — Notify Pipeline Cancelled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Store Chosen Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Store Chosen Topic": {
      "main": [
        [
          {
            "node": "LLM — Write Script (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM — Write Script (Claude)": {
      "main": [
        [
          {
            "node": "Code — Validate Script JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Validate Script JSON": {
      "main": [
        [
          {
            "node": "IF — Script Validation Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Script Validation Failed?": {
      "main": [
        [
          {
            "node": "LLM — Write Script Retry (Strict Prompt)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Store Script in Static Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM — Write Script Retry (Strict Prompt)": {
      "main": [
        [
          {
            "node": "Code — Validate Retry Script JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Validate Retry Script JSON": {
      "main": [
        [
          {
            "node": "IF — Retry Script Also Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Retry Script Also Failed?": {
      "main": [
        [
          {
            "node": "Telegram — Send Raw Script Output to Operator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Store Script in Static Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Send Raw Script Output to Operator": {
      "main": [
        [
          {
            "node": "Wait — Operator Script Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Operator Script Decision": {
      "main": [
        [
          {
            "node": "Code — Parse Operator Script Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Parse Operator Script Reply": {
      "main": [
        [
          {
            "node": "IF — Operator Cancelled Script?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Operator Cancelled Script?": {
      "main": [
        [
          {
            "node": "Telegram — Notify Script Generation Cancelled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM — Write Script (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Store Script in Static Data": {
      "main": [
        [
          {
            "node": "ElevenLabs — Generate Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs — Generate Voiceover": {
      "main": [
        [
          {
            "node": "Code — Check TTS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Check TTS Response": {
      "main": [
        [
          {
            "node": "IF — TTS Request Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — TTS Request Failed?": {
      "main": [
        [
          {
            "node": "IF — Rate Limited (429)?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "R2 — Upload Audio MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Rate Limited (429)?": {
      "main": [
        [
          {
            "node": "Wait — 60s Rate Limit Backoff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram — Alert ElevenLabs Auth Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — 60s Rate Limit Backoff": {
      "main": [
        [
          {
            "node": "ElevenLabs — Generate Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "R2 — Upload Audio MP3": {
      "main": [
        [
          {
            "node": "Code — Check R2 Upload Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Check R2 Upload Result": {
      "main": [
        [
          {
            "node": "IF — R2 Upload Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — R2 Upload Failed?": {
      "main": [
        [
          {
            "node": "Code — R2 Upload Retry Counter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FFmpeg — Get Audio Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — R2 Upload Retry Counter": {
      "main": [
        [
          {
            "node": "IF — R2 Upload Max Retries Exceeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — R2 Upload Max Retries Exceeded?": {
      "main": [
        [
          {
            "node": "Telegram — Alert R2 Upload Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait — Upload Retry Backoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Upload Retry Backoff": {
      "main": [
        [
          {
            "node": "R2 — Upload Audio MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg — Get Audio Duration": {
      "main": [
        [
          {
            "node": "Code — Classify Audio Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Classify Audio Duration": {
      "main": [
        [
          {
            "node": "IF — Audio Too Short?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Audio Too Short?": {
      "main": [
        [
          {
            "node": "Telegram — Alert Audio Too Short",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF — Audio Too Long?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Audio Too Long?": {
      "main": [
        [
          {
            "node": "Telegram — Alert Audio Too Long",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Store Audio URL in Static Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Alert Audio Too Long": {
      "main": [
        [
          {
            "node": "Wait — Operator Long Audio Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Operator Long Audio Decision": {
      "main": [
        [
          {
            "node": "Code — Parse Long Audio Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Parse Long Audio Reply": {
      "main": [
        [
          {
            "node": "IF — Operator Approved Long Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Operator Approved Long Audio?": {
      "main": [
        [
          {
            "node": "Code — Store Audio URL in Static Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM — Write Script (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Schedule — Every Monday 8AM": [
      {
        "timestamp": "2026-05-25T11:38:40.771+03:00",
        "Readable date": "May 25th 2026, 11:38:40 am",
        "Readable time": "11:38:40 am",
        "Day of week": "Monday",
        "Year": "2026",
        "Month": "May",
        "Day of month": "25",
        "Hour": "11",
        "Minute": "38",
        "Second": "40",
        "Timezone": "Africa/Nairobi (UTC+03:00)"
      }
    ]
  },
  "meta": {
    "instanceId": "b7ff1e69201968833d88d7592a2d50b06ea8540a200afa0538e34cf1a57976ac"
  }
}